<p id="notice"><%= notice %></p>

<p>
  <strong>Scheduled time:</strong>
  <%= @event.scheduled_time || "unscheduled" %>
</p>

<p>
  <strong>Period:</strong>
  <%= @event.period %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @event.duration %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
